{% extends "base.html" %}
{% load static %}

{% block title %}
  Главная
{% endblock %}

{% block content %}
<div class="text-center">
  <h1 class="display-4">Sorting Service</h1>
  <p class="lead">На этом веб-сервере вы можете загрузить json и обработать его согласно указанным настройкам.</p>
</div>

<!-- Кнопка для загрузки JSON-файла -->
<div class="text-center mt-5">
  <input type="file" id="jsonFileInput" style="display: none;">
  <button id="customFileButton" class="btn btn-secondary custom-button">Выберите файл</button>
  <button id="sendJson" class="btn btn-primary custom-button">Отправить JSON</button>
  <div id="selectedFileName" class="mt-2"></div>
</div>

<!-- Описание ожидаемого JSON-файла -->
<div class="text-center mt-5">
  <h3>Описание формата JSON:</h3>
  <p>Файл должен содержать следующие поля:</p>
  <strong>module</strong> - Название модуля, который будет использован для обработки данных.<br>
  <strong>function</strong> - Название функции в указанном модуле, которая будет вызвана для обработки данных.<br>
  <strong>data</strong> - Объект, содержащий данные для обработки.<br>

</div>



<!-- Модальное окно для вывода ответа сервера -->
<div class="modal fade" id="responseModal" tabindex="-1" aria-labelledby="responseModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="responseModalLabel">Ответ сервера</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <pre id="responseBody"></pre>  <!-- Здесь будет ответ сервера -->
      </div>
    </div>
  </div>
</div>

{% block extra_js %}
  <script src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% endblock %}
